.button {
  border: 2px solid #cccccc;
  text-align: center;
  background-color: #ececec;
  padding: 10px 20px;
  font-size: 20px;
  min-width: 130px;
  border-radius: 12px;
}

/* Styling */
.border {
  border: 2px solid black;
  border-radius: 7px;
}

.round {
  border-radius: 12px;
}
